html{
    background: #333333;
}
section{
    background: #333333;
}
#topInfo{
    background: #333333;
}
#topInfo div h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4.4rem;
    letter-spacing: 0.41rem;
    margin-bottom: 0;
    margin-top: 5%;
    /* border-bottom: 1px solid white; */
}
#topInfo div h4{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.41rem;
    margin-bottom: 1%;
    margin-top: 0;
    /* border-bottom: 1px solid white; */
}
#bottomInfo{
    background: #333333;
}
#bottomInfo .btn{
    margin: 5px;
}
#hardSpacer01{
    margin-top: 11%;
}
#aboutDiv{
    display:none;
    color: white;
    background: #333333;
}
/* #hardSpacer02{
    margin-top: 12%;
} */
