/* 
Color Guide:
#0B0C10 >> background, almost black
#1F2833 >> forground, dark gray
#C5C6C7 >> light gray
#66FCF1 >> super accent
#45A29E >> dull accent
*/


html{
    background: #0B0C10;
}
section{
    background: #0B0C10;
}
#topInfo{
    background: #0B0C10;
}
#topInfo h1{
    color: #66FCF1;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4.4rem;
    letter-spacing: 0.41rem;
    margin-bottom: 0;
    margin-top: 5%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    /* border-bottom: 1px solid white; */
}
#topInfo h4{
    color: #45A29E;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.41rem;
    margin-bottom: 1%;
    margin-top: 0;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.8),
                 0px 8px 13px rgba(0,0,0,0.3),
                 0px 18px 26px rgb(0, 0, 0, 0.3);
    /* border-bottom: 1px solid white; */
}
#bottomInfo{
    background: #0B0C10;
}
/* 
Color Guide:
#0B0C10 >> background, almost black
#1F2833 >> forground, dark gray
#C5C6C7 >> light gray
#66FCF1 >> super accent
#45A29E >> dull accent
*/
#bottomInfo .btn.customColor{
    margin: 5px;
    color: #45A29E;
    border-color: #45A29E;
}
#bottomInfo .btn:hover.customColor{
    margin: 5px;
    background-color: #66FCF1;
    color: #45A29E;
}
#hardSpacer01{
    margin-top: 11%;
}
#hardSpacer02{
    padding-top: 1%;
    background: #0B0C10;
}
#aboutDiv{
    padding-top: 3%;
    display:none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    text-indent: 2.0rem;
    background: #0B0C10;
}
#aboutDiv img{
    text-align: center;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
}
/* 
Color Guide:
#0B0C10 >> background, almost black
#1F2833 >> forground, dark gray
#C5C6C7 >> light gray
#66FCF1 >> super accent
#45A29E >> dull accent
*/
#projectsDiv{
    display:none;
    color: white;
    background: #0B0C10;
}
#projectCards .card{
    color: #66FCF1;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #1F2833;
}
#projectCards .btn.customColor{
    margin: 5px;
    color: #45A29E;
    border-color: #45A29E;
}
#projectCards .btn:hover.customColor{
    margin: 5px;
    background-color: #66FCF1;
    color: #45A29E;
}
#resumeDiv{
    padding-top: 3%;
    display:none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.0rem;
    background: #0B0C10;
}
#resumeDiv h3{
    font-weight: 700;
}
#resumeDiv .fa-at{
    font-size: 0.70rem;
}
#resumeDiv .resCon{
    font-size: 0.87rem;
}
#resumeDiv .leftBar{
    font-size: 1.28rem;
    padding-bottom: 0.85rem;
}
#resumeDiv .resumeItems{
    padding-top: 1.12rem;
}
#resumeDiv .rightBar h6{
    font-size: 1.15rem;
}
#resumeDiv .rightBar ul{
    padding-bottom: 0.85rem;
}
#resumeDlBtn{
    padding: 2.25rem;
}
/* #resumeDiv .rightBar h5{
    padding-left: -0.20rem;
}
#resumeDiv .rightBar li{
    padding-left: 1.80rem;
} */
/* #resumeDiv .col-10{
    text-align: right;
} */
#visLine{
    border-top: 0.05rem solid white;
    padding: 0%;
}
#contactDiv{
    display:none;
    color: white;
    background: #0B0C10;
}
/* #hardSpacer02{
    margin-top: 12%;
} */
